@charset "utf-8";

/*
 * Mobirise v4 theme (https://mobirise.com/)
 * Copyright 2017 Mobirise
 */

html body {
	display: block!important;
	background-color: #012!important;
}

section {
	background-color: #eeeeee;
	}

	section, .container, .container-fluid {
	position: relative;
	word-wrap: break-word;
	}

	a.mbr-iconfont:hover {
	text-decoration: none;
	}

	.article .lead p, .article .lead ul, .article .lead ol, .article .lead pre, .article .lead blockquote {
	margin-bottom: 0;
	}

	a {
	font-style: normal;
	font-weight: 400;
	cursor: pointer;
	}
	a, a:hover {
	text-decoration: none;
	}

	figure {
	margin-bottom: 0;
	}

	body {
	color: #232323;
	}

	h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .display-1, .display-2, .display-3, .display-4 {
	line-height: 1;
	word-break: break-word;
	word-wrap: break-word;
	}

	b, strong {
	font-weight: bold;
	}

	blockquote {
	padding: 10px 0 10px 20px;
	position: relative;
	border-left: 2px solid;
	border-color: #ff3366;
	}

	input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
	transition-delay: 9999s;
	transition-property: background-color, color;
	}

	textarea[type="hidden"] {
	display: none;
	}

	body {
	position: relative;
	}

	section {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	}
	section .mbr-background-video, section .mbr-background-video-preview {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	}

	.hidden {
	visibility: hidden;
	}

	.mbr-z-index20 {
	z-index: 20;
	}

	/*! Base colors */
	.mbr-white {
	color: #ffffff;
	}

	.mbr-black {
	color: #000000;
	}

	.mbr-bg-white {
	background-color: #ffffff;
	}

	.mbr-bg-black {
	background-color: #000000;
	}

	/*! Text-aligns */
	.align-left {
	text-align: left;
	}

	.align-center {
	text-align: center;
	}

	.align-right {
	text-align: right;
	}

	@media (max-width: 767px) {
	.align-left, .align-center, .align-right, .mbr-section-btn, .mbr-section-title {
	text-align: center;
	}
	}
	/*! Font-weight  */
	.mbr-light {
	font-weight: 300;
	}

	.mbr-regular {
	font-weight: 400;
	}

	.mbr-semibold {
	font-weight: 500;
	}

	.mbr-bold {
	font-weight: 700;
	}

	/*! Media  */
	.media-size-item {
	-webkit-flex: 1 1 auto;
	-moz-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	-o-flex: 1 1 auto;
	flex: 1 1 auto;
	}

	.media-content {
	-webkit-flex-basis: 100%;
	flex-basis: 100%;
	}

	.media-container-row {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-align-items: start;
	-ms-flex-align: start;
	align-items: start;
	}
	.media-container-row .media-size-item {
	width: 400px;
	}

	.media-container-column {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	}
	.media-container-column > * {
	width: 100%;
	}

	@media (min-width: 992px) {
	.media-container-row {
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	}
	}
	figure {
	overflow: hidden;
	}

	figure[mbr-media-size] {
	transition: width 0.1s;
	}

	.mbr-figure img, .mbr-figure iframe {
	display: block;
	width: 100%;
	}

	.card {
	background-color: transparent;
	border: none;
	}

	.card-img {
	text-align: center;
	flex-shrink: 0;
	-webkit-flex-shrink: 0;
	}

	.media {
	max-width: 100%;
	margin: 0 auto;
	}

	.mbr-figure {
	-ms-flex-item-align: center;
	-ms-grid-row-align: center;
	-webkit-align-self: center;
	align-self: center;
	}

	.media-container > div {
	max-width: 100%;
	}

	.mbr-figure img, .card-img img {
	width: 100%;
	}

	@media (max-width: 991px) {
	.media-size-item {
	width: auto !important;
	}

	.media {
	width: auto;
	}

	.mbr-figure {
	width: 100% !important;
	}
	}
	/*! Buttons */
	.mbr-section-btn {
	margin-left: -.25 rem;
	margin-right: -.25 rem;
	font-size: 0;
	}

	nav .mbr-section-btn {
	margin-left: 0rem;
	margin-right: 0rem;
	}

	/*! Btn icon margin */
	.btn .mbr-iconfont, .btn.btn-sm .mbr-iconfont {
	cursor: pointer;
	margin-right: 0.5 rem;
	}

	.btn.btn-md .mbr-iconfont, .btn.btn-md .mbr-iconfont {
	margin-right: 0.8 rem;
	}

	.mbr-regular {
	font-weight: 400;
	}

	.mbr-semibold {
	font-weight: 500;
	}

	.mbr-bold {
	font-weight: 700;
	}

	[type="submit"] {
	-webkit-appearance: none;
	}

	/*! Full-screen */
	.mbr-fullscreen .mbr-overlay {
	min-height: 100vh;
	}

	.mbr-fullscreen {
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	align-items: center;
	-webkit-align-items: center;
	min-height: 100vh;
	padding-top: 3rem;
	padding-bottom: 3rem;
	}

	/*! Map */
	.map {
	height: 25rem;
	position: relative;
	}
	.map iframe {
	width: 100%;
	height: 100%;
	}

	/* Form */
	.form-asterisk {
	font-family: initial;
	position: absolute;
	top: -2px;
	font-weight: normal;
	}

	/*! Scroll to top arrow */
	.mbr-arrow-up {
	bottom: 25px;
	right: 90px;
	position: fixed;
	text-align: right;
	z-index: 5000;
	color: #ffffff;
	font-size: 32px;
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	}

	html body .mbr-arrow-up a {
	background-color: rgba(228,24,48,0.2) !important;
	border-radius: 3px;
	color: #fff;
	display: inline-block;
	height: 60px;
	width: 60px;
	outline-style: none !important;
	position: relative;
	text-decoration: none;
	transition: all .3s ease-in-out;
	cursor: pointer;
	text-align: center;
	}
	html body .mbr-arrow-up a:hover {
	background-color: rgba(24,228,48,0.3) !important;
	}
	.mbr-arrow-up a i {
	line-height: 60px;
	}

	.mbr-arrow-up-icon {
	display: block;
	color: #fff;
	}

	.mbr-arrow-up-icon::before {
	content: "\203a";
	display: inline-block;
	font-family: serif;
	font-size: 32px;
	line-height: 1;
	font-style: normal;
	position: relative;
	top: 6px;
	left: -4px;
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	}

	/*! Arrow Down */
	.mbr-arrow {
	position: absolute;
	bottom: 45px;
	left: 50%;
	width: 60px;
	height: 60px;
	cursor: pointer;
	background-color: rgba(80, 80, 80, 0.5);
	border-radius: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	}
	.mbr-arrow > a {
	display: inline-block;
	text-decoration: none;
	outline-style: none;
	-webkit-animation: arrowdown 1.7s ease-in-out infinite;
	animation: arrowdown 1.7s ease-in-out infinite;
	}
	.mbr-arrow > a > i {
	position: absolute;
	top: -2px;
	left: 15px;
	font-size: 2rem;
	}

	@keyframes arrowdown {
	0% {
	transform: translateY(0px);
	-webkit-transform: translateY(0px); }
	50% {
	transform: translateY(-5px);
	-webkit-transform: translateY(-5px); }
	100% {
	transform: translateY(0px);
	-webkit-transform: translateY(0px); } }
	@-webkit-keyframes arrowdown {
	0% {
	transform: translateY(0px);
	-webkit-transform: translateY(0px); }
	50% {
	transform: translateY(-5px);
	-webkit-transform: translateY(-5px); }
	100% {
	transform: translateY(0px);
	-webkit-transform: translateY(0px); } }
	@media (max-width: 500px) {
	.mbr-arrow-up {
	left: 50%;
	right: auto;
	transform: translateX(-50%) rotate(180deg);
	-webkit-transform: translateX(-50%) rotate(180deg);
	}
	}
	/*Gradients animation*/
	@keyframes gradient-animation {
	from {
	background-position: 0% 100%;
	animation-timing-function: ease-in-out;
	}
	to {
	background-position: 100% 0%;
	animation-timing-function: ease-in-out;
	} }
	@-webkit-keyframes
	gradient-animation {from {
	background-position: 0% 100%;
	animation-timing-function: ease-in-out;
	}
	to {
	background-position: 100% 0%;
	animation-timing-function: ease-in-out;
	} }
	.bg-gradient {
	background-size: 200% 200%;
	animation: gradient-animation 5s infinite alternate;
	-webkit-animation: gradient-animation 5s infinite alternate;
	}

	.menu .navbar-brand {
	display: -webkit-flex;
	}
	.menu .navbar-brand span {
	display: flex;
	display: -webkit-flex;
	}
	.menu .navbar-brand .navbar-caption-wrap {
	display: -webkit-flex;
	}
	.menu .navbar-brand .navbar-logo img {
	display: -webkit-flex;
	}
	@media (min-width: 768px) and (max-width: 991px) {
	.menu .navbar-toggleable-sm .navbar-nav {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	}
	}
	@media (min-width: 992px) {
	.menu .navbar-nav.nav-dropdown {
	display: -webkit-flex;
	}
	.menu .navbar-toggleable-sm .navbar-collapse {
	display: -webkit-flex !important;
	}
	}
	@media (max-width: 767px) {
	.menu .navbar-collapse {
	max-height: 80vh;
	}
	.menu .dropdown-menu {
	max-height: 60vh;
	}
	}

	.navbar {
	display: -webkit-flex;
	-webkit-flex-wrap: wrap;
	-webkit-align-items: center;
	-webkit-justify-content: space-between;
	}

	.navbar-collapse {
	-webkit-flex-basis: 100%;
	-webkit-flex-grow: 1;
	-webkit-align-items: center;
	max-height: 93.5 vh;
	}
	.navbar-collapse.show {
	overflow: auto;
	}

	.nav-dropdown .link {
	padding: .667em 1.667em !important;
	margin: 0 !important;
	}

	.nav {
	display: -webkit-flex;
	-webkit-flex-wrap: wrap;
	}

	.row {
	display: -webkit-flex;
	-webkit-flex-wrap: wrap;
	}

	.justify-content-center {
	-webkit-justify-content: center;
	}

	.form-inline {
	display: -webkit-flex;
	-webkit-flex-flow: row wrap;
	-webkit-align-items: center;
	}

	.card-wrapper {
	-webkit-flex: 1;
	}

	.carousel-control {
	z-index: 10;
	display: -webkit-flex;
	-webkit-align-items: center;
	-webkit-justify-content: center;
	}

	.carousel-controls {
	display: -webkit-flex;
	}

	.media {
	display: -webkit-flex;
	}

	.jq-selectbox__select {
	padding: 1.07em .5em;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	}

	.jq-selectbox__dropdown {
	position: absolute;
	top: 100% !important;
	left: 0 !important;
	width: 100% !important;
	}

	.jq-selectbox__trigger-arrow {
	transform: translateY(-50%);
	}

	.jq-selectbox li {
	padding: 1.07em .5em;
	}

	/*# sourceMappingURL=style.css.map */
	.engine {
	position: absolute;
	text-indent: -2400px;
	text-align: center;
	padding: 0;
	top: 0;
	left: -2400px;
	}

	html body p strong, html body p b {
	color: #ffcc00 !important;
	}

	html body nav {
	background: #510114 !important;
	background: -moz-linear-gradient(top, #510114 0%, #470111 44%, #34000c 100%) !important;
	background: -webkit-linear-gradient(top, #510114 0%,#470111 44%,#34000c 100%) !important;
	background: linear-gradient(to bottom, #510114 0%,#470111 44%,#34000c 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#510114', endColorstr='#34000c',GradientType=0 ) !important;
	}

	html body h5 strong {
	color: #aa1830 !important;
	font-size: 1.1em !important;
	font-weight: bold !important;
	}

	html body .testimonials-item .row {
	background: #cedce7 !important;
	background: -moz-linear-gradient(top, #cedce7 0%, #596a72 100%) !important;
	background: -webkit-linear-gradient(top, #cedce7 0%,#596a72 100%) !important;
	background: linear-gradient(to bottom, #cedce7 0%,#596a72 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 ) !important;
	}

	html body .testimonials-item .row .user_text {
	font-weight: bold !important;
	}

	html body .testimonials-item .row .user_name {
	color: #880011 !important;
	font-weight: bold !important;
	font-size: 1.75em !important;
	text-transform: uppercase !important;
	letter-spacing: -0.065em !important;
	}

	html body .testimonials-item .row .user_desk {
	color: #103060 !important;
	font-weight: bold !important;
	font-size: 2em !important;
	text-transform: uppercase !important;
	letter-spacing: -0.065em !important;
	}

	* > *.container.align-center > div > div > h3 > strong, * > *.container.align-center > div > div > h3 > strong * {
	color: #22cc22 !important;
	}

	html body * > div.container.align-center > div > div > h3, html body * > div.container.align-center > div > div > h3 > * {
	color: #22cc22 !important;
	font-size: 1.78em !important;
	}

	html body h3, html body h3 > strong, html body h3 > strong > *, html body * > div.container.align-center > div > div > h3 > div > strong, html body * > div.container.align-center > div > div > h3 > div > strong > * {
	color: #ffcc00 !important;
	text-transform: uppercase !important;
	}

	html body * > div > div > div > form > span > label > a {
	color: #204070 !important;
	font-weight: 800 !important;
	}

	html body button {
	-webkit-border-radius: 7px !important;
	border-radius: 7px !important;
	}

	html body .mbr-section-btn a.btn:not(.btn-form) {
	border-radius: 7px !important;
}

html body div.user.row {
	-webkit-border-radius: 12px !important;
	border-radius: 12px !important;
	overflow: hidden !important;
}

html body *.user_text > p.mbr-fonts-style {
	color: #040 !important;
	font-weight: 600 !important;
	font-size: 1.42em !important;
	text-shadow: 0 0 #801 !important
}

html body div.cookieText > * {
	color: #fc0 !important;
}

html body p {
	line-height: 1.2em !important;
}

html body strong {
	line-height: 1.75em !important;
}

html body span.mbr-iconfont {
	margin-right: 0.8em !important;
	font-size: 2em !important;
	text-shadow: 0 0 #48c !important;
}

html body a.button, html body button > *, html body * > div > div > div > form > *.dragArea > *.input-group-btn.align-center > button {
	font-weight: 800 !important;
	font-size: 1.5em !important;
	text-shadow: 0 0 #fc0 !important;
}

html body * > div > div > div > h2 > strong {
	color: #2c2 !important;
}

html body * > div > div > div > form > div > div > label > strong {
	color: #259 !important;
}

html body #menu1-s > nav > button {
	position: absolute !important;
	top: 15px !important;
	right: 15px !important;
}

html body * > p.mbr-text.mbr-fonts-style {
	font-size: 1.88em !important;
}

html body *.char_red {
	color: #a12 !important;
}

html body *.char_blue {
	color: #259 !important;
}

html body *.char_yellow {
	color: #fc0 !important;
}

html body *.char_green {
	color: #3c3 !important;
}

html body *.goclear > * {
	clear: both;
	padding-top: 0.25;
	font-size: 2em !important;
}

html body *#event_scheduler,
html body *#row_setup {
	position: relative;
	display: inline-block;
	width: 100%!important;
	height: 480px!important;
}

html body *#row_setup {}

<!-- headline -->
html body *#menu1-o > nav > div.menu-logo > div > span.navbar-caption-wrap > a {
	
}

html body *.row_teaser {
	background: none!important;
}

html body *.row_image {
	position: relative!important;
	display: inline-block!important;
	width: 100%!important;
	width: auto!important;
	min-width: 100%!important;
	height: auto!important;
	min-height: auto!important;
	z-index: -1;
}
