@font-face {
   font-family: 'Anton';
   font-style: regular;
   font-weight: 400;
   src: url('file:///C:/Users/Aris/AppData/Local/Packages/TheDebianProject.DebianGNULinux_76v4gfsz19hv4/LocalState/rootfs/var/www/html//fonts/Anton/regular.ttf') format('truetype');
}
